*.class

*.log
*.jar
.project
*.jar
*.war
*.ear
*.zip
*.rar

src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/logs/
src/main/resources/generator.properties
src/main/java/com/lj/app/core/common/generator
src/main/resources/template/

target/

#È¡Ïû×¢ÊÍ
pom.xml

