
language: java

jdk:
  - oraclejdk8
 
  
after_success:
- mvn   cobertura:cobertura  sonar:sonar -Dsonar.host.url=https://sonarqube.com   -Dsonar.login=$SONAR_TOKEN
notifications:
  email:
    - 15838028035@163.com
